@import url(./header-style.css);
@import url(./swiper-style.css);
@import url(./lisening-enter-style.css);
@import url(./announcement-style.css);
@import url(./schedule-style.css);
@import url(./our-team-style.css);
@import url(./footer-style.css);
/* Reset و تنظیمات پایه */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Vazir, sans-serif;
  font-size: clamp(13px, 1.2vw, 22px);
  background-color: #ECEFF1;
}
body::-webkit-scrollbar {
  display: none;
}
:root {
  --primary: #2c3e50;
  --secondary: #3498db;
  --gold: #ffd000;
  --primary-blue: #3498db;
  --secondary-blue: #2980b9;
  --gray: #f9f9f9;
  --text-color: #2c3e50;
  --gray-color: #95a5a6;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --primary-color-other-prof: #2c3e50;
  --secondary-color-other-prof: #e74c3c;
  --hover-effect: all 0.3s ease;
}
